logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
/.metals
/.bloop
.scalafmt.conf
/project/.bloop
hs_err_pid13396.log
/node_modules
lib/poker_3-1.0.1.jar
