.body {
    background: #293342;
    width: 100vw;
    height: 100vh;
    display: flex-column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

//logo

.logo {
    margin-right: 1610px;
    font-size: 40px;
    font-weight: bolder;
    color: #AF4D4D;
}

// buttons 

button {
    width: 160px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 200px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25)
}

.round-button {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 200px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25)
}

.button-text {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
}

.call-button {
    margin-right: 10px;
    background: #3DA466;
}

.fold-button {
    margin-right: 10px;
    background: #AF4D4D;
}

.raise-button {
    margin-right: 60px;
    background: #3A62C9;
}

.leave-button {
    margin-right: 60px;
    background: #4B4B4B;
}

.reveal-chat-button {
    margin-right: 1250px;
    background: #4B4B4B;
}

.card {
    width: 40px;
    height: 60px;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 15px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25)
}

.card-text {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-icon {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.red {
    background: rgba(255, 0, 0, 0.20);
}

.blue {
    background: rgba(0, 71, 255, 0.20);
}

.green {
    background: rgba(0, 255, 102, 0.20);
}

.grey {
    background: #404040;
}

.red-text {
    color: #ff0000;
}

.black-text {
    color: #000000;
}

//player
.right-player {
    margin-left: 20px;
}

.left-player {
    margin-right: 20px;
}

.top-right-player {
    margin-left: 160px;
}

.top-left-player {
    margin-right: 160px;
}

.player {
    position: relative;
    display: flex-row;
    justify-content: center;
    align-items: center;
}

.player-circle {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 304px;
    background: #4B5563;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25)
}

.player-balance {
    margin-top: 8px;
    width: 102px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 300px;
    background: #D2D2D2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B5563;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.player-icon {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    color: white;
}

.player-shadow {
    width: 1261.371px;
    height: 88.588px;
    transform: rotate(45deg);
    flex-shrink: 0;
    background: #252E3A;
    position: absolute;
    top: 444px;
    left: -138px;
    z-index: -1;
}

//coins
.stack-amount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coin-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coin {
    position: absolute;
}

.amount {
    font-size: 18px;
    position: absolute;
    top: 22px;
    left: 360px;
}

//table
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    position: relative;
    width: 700px;
    height: 342px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 270px;
    border: 12px solid #2DD4BF;
    background: var(--Color, #0D9488);
    box-shadow: 6px 6px 4px 4px rgba(0, 0, 0, 0.25), 8px 12px 1px 2px rgba(0, 0, 0, 0.25) inset;
}

.table-shadow-placement {
    position: absolute;
    top: 54px;
    left: 25px;
    z-index: -1;
}

//rows
.top-button-row {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.top-player-row {
    margin-top: 40px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-player-row {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}