@()

@main("Welcome to Play") {
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Poker-Tischansicht</title>
</head>

<body>
  <table>
    <tr>
      <!-- Spieler 1 -->
      <td>
        <h3>Spieler 1</h3>
        <p>Balance: 1500 $</p>
        <p>Current: 50 $</p>
        <h3>[A♡] [A♡]</h3>
      </td>
      <!-- Spieler 2 -->
      <td>
        <h3>&gtSpieler 2&lt</h3>
        <p>Balance: 1300 $</p>
        <p>Current: 30 $</p>
        <h3>[A♡] [A♡]</h3>
      </td>
      <!-- Spieler 3 -->
      <td>
        <h3>Spieler 3</h3>
        <p>Balance: 1000 $</p>
        <p>Current: 20 $</p>
        <h3>[A♡] [A♡]</h3>
      </td>
    </tr>
  </table>
  <!-- Gemeinschaftskarten -->
  <h2>[A♡][K♡][Q♡][T♡][9♡]</h2>
  <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsppot: 200 $</h3>
  <!-- Informationen über drei Spieler, bei denen die Karten verdeckt sind -->
  <table>
    <tr>
      <!-- Spieler A -->
      <td>
        <h3>[A♡] [A♡]</h3> <!-- verdeckte Karten -->
        <p>Current: 40 $</p>
        <p>Balance: 1200 $</p>
        <h3>Spieler A</h3>
      </td>
      <!-- Spieler B -->
      <td>
        <h3>[A♡] [A♡]</h3> <!-- verdeckte Karten -->
        <p>Current: 60 $</p>
        <p>Balance: 900 $</p>
        <h3>Spieler B</h3>
      </td>
      <!-- Spieler C -->
      <td>
        <h3>[A♡] [A♡]</h3> <!-- verdeckte Karten -->
        <p>Current: 20 $</p>
        <p>Balance: 1500 $</p>
        <h3>Spieler C</h3>
      </td>
    </tr>
  </table>
</body>

</html>



}