@(name: String, balance : Int, folded: Boolean, position : String)

@if(!folded) {
<div class="player">
    <div class="text-secondary">@name</div>
    <div class="player-circle responsive-player-circle me-1">
        <div class="bi-person-fill player-icon responsive-player-icon"></div>
    </div>
    <div class="player-balance responsive-player-balance">$ @balance</div>
</div>
} else {
<div class="player">
    <div class="text-secondary">@name</div>
    <div class="player-circle responsive-player-circle me-1 opacity-25">
        <div class="bi-person-fill player-icon responsive-player-icon opacity-25"></div>
    </div>
    <div class="player-balance responsive-player-balance opacity-25">$ @balance</div>
</div>
}