@(gameState: de.htwg.poker.model.GameState)

@indexedPlayers = @{ gameState.getPlayers.zipWithIndex }
@playerAtTurn = @{ gameState.getPlayerAtTurn }
@board = @{ gameState.getBoard }
@pot = @{ gameState.getPot }



@main("HTWG Poker") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.11.3/font/bootstrap-icons.min.css">
<!DOCTYPE html>

<body class="body">
    <div class="top-button-row">
        <div class="logo bi-suit-spade">
        </div>
        <button class="leave-button">
            <div class="button-text transparent-button-text bi-box-arrow-left"></div>
            <div class="button-text transparent-button-text">LEAVE</div>
        </button>
    </div>
    <div class="top-player-row">
        @player("$ 2500", "top-left-player")
        @player("$ 2500", "top-right-player")
    </div>
    <div class="table-row">
        @player("$ 2500", "left-player")
        @table()
        @player("$ 2500", "right-player")
    </div>
    <div class="bottom-player-row">
        @player("$ 2500", "top-left-player")
        @player("$ 2500", "top-right-player")
    </div>
    <div class="button-row">
        <button class="round-button reveal-chat-button">
            <div class="button-text  bi-chevron-up"></div>
        </button>
        @actionButton("fold-button", "FOLD", "bi-x-circle")
        @actionButton("call-button", "CALL", "bi-arrow-up-circle")
        @actionButton("raise-button", "RAISE", "bi-plus-circle")
    </div>
</body>

</html>
}