@(gameState: de.htwg.poker.model.GameState)

@indexedPlayers = @{ gameState.getPlayers.zipWithIndex }
@playerAtTurn = @{ gameState.getPlayerAtTurn }
@board = @{ gameState.getBoard }
@pot = @{ gameState.getPot }


@main("HTWG Poker") {
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Poker</title>
</head>

<body>
    <!-- Erste drei Spieler -->
    <table>
        <tr>
            @for(currentPlayer <- indexedPlayers.drop(3).take(3)) { @player(currentPlayer, playerAtTurn) } </tr>
    </table>

    <!-- Pot -->
    <h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(@pot
        $)
    </h4>

    <!-- Gemeinschaftskarten -->
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;
        @for(card <- board) { <span>@card.toString()</span>
            }
    </div>

    <!-- Nächste drei Spieler -->
    <table>
        <tr>
            @for(currentPlayer <- indexedPlayers.drop(3).take(3)) { @player(currentPlayer, playerAtTurn) } </tr>
    </table>
</body>

</html>
}