@(gameState: de.htwg.poker.model.GameState)

@indexedPlayers = @{ gameState.getPlayers.zipWithIndex }
@playerAtTurn = @{ gameState.getPlayerAtTurn }
@board = @{ gameState.getBoard }
@pot = @{ gameState.getPot }

@main("HTWG Poker") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.11.3/font/bootstrap-icons.min.css">
<!DOCTYPE html>

<body class="body">
    <div class="d-flex w-100 h-100">
        <div class="d-flex flex-column justify-content-around container-fluid">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-space-around row">
                    <div class="col text-white">
                        your current hand: SET
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="button"
                            class="btn btn-secondary rounded-pill responsive-button d-flex align-items-center justify-content-center">
                            <h5 class="responsive-button-text">
                                LEAVE
                            </h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class=" d-flex justify-content-center align-items-center mb-2">
                    @player(indexedPlayers(0)._1.balance, "top-left-player")
                    @player(indexedPlayers(1)._1.balance, "top-right-player")
                </div>
                <div class=" d-flex justify-content-center align-items-center">
                    @player(indexedPlayers(5)._1.balance, "left-player")
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="table responsive-table">
                            <div class="d-flex justify-content-around align-items-start">
                                <div class="d-flex justify-content-center align-items-center">
                                    @coins(indexedPlayers(0)._1.currentAmountBetted)
                                    @playercards(0, playerAtTurn, gameState)
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    @coins(indexedPlayers(1)._1.currentAmountBetted)
                                    @playercards(1, playerAtTurn, gameState)
                                </div>
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center responsive-table-middle-row-margin-top">
                                <div class="d-flex justify-content-center align-items-center">
                                    @playercards(5, playerAtTurn, gameState)
                                    @coins(indexedPlayers(5)._1.currentAmountBetted)
                                </div>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="pot responsive-pot">@pot</div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        @for(boardCard <- board) { card(boardCard.rank.toString, boardCard.suit.id) }
                                            </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        @coins(indexedPlayers(2)._1.currentAmountBetted)
                                        @playercards(2, playerAtTurn, gameState)
                                    </div>
                                </div>
                                <div
                                    class="d-flex justify-content-around align-items-center  responsive-table-lower-row-margin-top">
                                    <div class="d-flex justify-content-center align-items-center">
                                        @coins(indexedPlayers(4)._1.currentAmountBetted)
                                        @playercards(4, playerAtTurn, gameState)
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        @coins(indexedPlayers(3)._1.currentAmountBetted)
                                        @playercards(3, playerAtTurn, gameState)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @player(indexedPlayers(2)._1.balance, "right-player")
                    </div>
                    <div class=" d-flex justify-content-center align-items-center mt-2">
                        @player(indexedPlayers(4)._1.balance, "top-left-player")
                        @player(indexedPlayers(3)._1.balance, "top-right-player")
                    </div>

                </div>
                <div>
                    <div class="container-fluid">
                        <div class="col d-flex justify-content-end text-white me-4 mb-4 font fs-2" id="sliderValue">
                            $0
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-end row">
                            <div class="col d-flex gap-3 justify-content-end me-3">
                                <button type="button"
                                    class="btn btn-danger rounded-pill d-flex justify-content-center align-content-center responsive-button">
                                    <h5 class="mt-1 responsive-button-text">
                                        FOLD
                                    </h5>
                                </button>
                                <button type="button"
                                    class="btn btn-success rounded-pill d-flex justify-content-center align-content-center responsive-button">
                                    <h5 class="mt-1 responsive-button-text">
                                        CALL
                                    </h5>
                                </button>
                                <button type="button"
                                    class="btn btn-primary rounded-pill d-flex justify-content-center align-content-center responsive-button">
                                    <h5 class="mt-1 responsive-button-text">
                                        RAISE
                                    </h5>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-end align-items-center" style="width: 100px">
                <input type="range" class="form-range me-5 responsive-slider-size" style="margin-bottom: 230px;"
                    orient="vertical" min="0" max="1000" step="10" id="customRange3">
            </div>
        </div>
</body>

</html>
}